.w-450 {
  width: 450px;
}

.w-auto {
  width: auto;
}

.bg-gray {
  background-color: rgba(110, 127, 153, 0.15);
}

.-top-5percent {
  top: -5%;
}
.text-15 {
  font-size: 13px !important;
}
.design-services .module-shape {
  left: -10%;
}

.text-12 {
  font-size: 12px;
}

.uppercase {
  text-transform: uppercase;
}

.tracking-1 {
  letter-spacing: 1px;
}

.text-slate-500 {
  color: var(--lqd-color-slate-500);
}

.text-18 {
  font-size: 18px;
}

.leading-1\/3em {
  line-height: 1.3em;
}

.lqd-iconbox-scale {
  transition: transform 0.85s cubic-bezier(0.23, 1, 0.32, 1), background 0.3s,
    border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.lqd-iconbox-scale:hover {
  transform: scale(1.1);
}

.design-services .lqd-iconbox-scale:hover {
  background-color: #f2ebe9;
  transform: scale(1.1);
}

.border-1 {
  border-width: 1px;
  border-style: solid;
}

.border-black-10 {
  border-color: rgba(0, 0, 0, 0.1);
}

.module-text-border:hover {
  background-color: #f8e6d9;
  border-color: #f8e6d9;
  border-style: solid;
  transition: all ease-in-out 0.4s;
  transform: scale(1.1);
  cursor: pointer;
}
h2 {
  font-family: var(--lqd-h2-font-family, var(--lqd-heading-font-family));
  font-size: var(--lqd-h2-font-size, var(--lqd-heading-font-size));
  line-height: var(--lqd-h2-line-height, var(--lqd-heading-line-height));
  font-weight: var(--lqd-h2-font-weight, var(--lqd-heading-font-weight));
  text-transform: var(
    --lqd-h2-text-transform,
    var(--lqd-heading-text-transform)
  );
  letter-spacing: var(
    --lqd-h2-letter-spacing,
    var(--lqd-heading-letter-spacing)
  );
  color: var(--lqd-h2-color, var(--lqd-heading-color));
}
.text-slate-300 {
  color: var(--lqd-color-slate-300);
}

.lqd-highlight-inner {
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 0;
  position: absolute;
  display: inline-block;
  transition-delay: inherit;
  transform-origin: left center;
  transition: transform 0.85s, opacity 0.85s, height 0.45s, bottom 0.45s,
    color 0.45s;
  transition-timing-function: cubic-bezier(0.3, 0.8, 0.35, 1);
}

.bottom-0 {
  bottom: 0;
}

.split-inner5 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
}

.text-18 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
}

.text-15 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
}

.text-22 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
}

.left-0 {
  left: 0;
}

.lqd-highlight-grow-bottom .lqd-highlight .lqd-highlight-inner {
  opacity: 1 !important;
}

.lqd-highlight-grow-bottom .lqd-highlight .lqd-highlight-inner {
  transform: scaleY(0);
  transform-origin: center bottom;
}

.is-in-view .lqd-highlight .lqd-highlight-inner {
  opacity: 1;
  transform: scale(1, 1) !important;
}

[data-custom-animations="true"] .lqd-highlight .lqd-highlight-inner,
[data-split-text="true"] .lqd-highlight .lqd-highlight-inner {
  opacity: 0;
}

.lqd-highlight .lqd-highlight-inner,
.lqd-unit-animation-done .lqd-highlight .lqd-highlight-inner {
  opacity: 1;
  transform: scale(1, 1);
}

.lqd-highlight-classic .lqd-highlight .lqd-highlight-inner {
  height: 0.275em;
}

.lqd-highlight-reset-onhover .lqd-highlight:hover .lqd-highlight-inner {
  height: 100% !important;
  bottom: 0 !important;
}

.text-22 {
  font-size: 22px;
}

.iconbox h3 {
  transition-property: color, background;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.iconbox-icon-container {
  line-height: 1em;
  transition: all 0.3s;
  transition-property: border, color, background, box-shadow;
  margin-bottom: 40px;
}

.w-35 {
  width: 35px;
}

.text-36 {
  font-size: 36px;
}

.text-primary {
  color: var(--lqd-color-primary) !important;
}

.iconbox .iconbox-icon-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.text-13 {
  font-size: 13px;
}

.border-thin {
  font-family: var(--lqd-accent-font-family), Sans-serif;
  font-style: var(--lqd-accent-font-style);
}
