body {
  font-family: var(--lqd-body-font-family);
  font-size: 100%;
  font-weight: var(--lqd-body-font-weight);
  letter-spacing: var(--lqd-body-letter-spacing);
  line-height: var(--lqd-body-line-height);
  color: var(--lqd-body-text-color);
}
* {
  box-sizing: border-box;
}

body {
  max-width: 100vw;
}

body {
  margin: 0;
  font-family: var(--lqd-body-font-family);
  font-size: var(--lqd-body-font-size);
  font-weight: var(--lqd-body-font-weight);
  letter-spacing: var(--lqd-body-letter-spacing);
  line-height: var(--lqd-body-line-height);
  color: var(--lqd-body-text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  max-width: 100vw;
}

html {
  font-size: 100%;
  overflow-x: hidden;
}

:root {
  --lqd-color-primary: #184341;
  --lqd-container-width: 1170px;
  --lqd-row-gutter-x: 30px;
  --lqd-row-gutter-y: 0;
  --lqd-body-font-family: "Rubik", sans-serif;
  --lqd-body-font-size: 18px;
  --lqd-body-line-height: 1.7;
  --lqd-body-font-weight: 400;
  --lqd-body-text-color: #626974;
  --lqd-heading-font-family: "Manrope", sans-serif;
  --lqd-heading-line-height: 1.2em;
  --lqd-heading-font-weight: 600;
  --lqd-heading-color: #181b31;
  --lqd-cc-bc: var(--lqd-color-primary);
  --lqd-cc-bg: var(--lqd-color-primary);
  --lqd-cc-size-outer: 35px;
  --lqd-cc-br: calc(var(--lqd-cc-size-outer) / 2);
  --lqd-cc-active-bc: var(--lqd-color-primary);
  --lqd-cc-active-bg: var(--lqd-color-primary);
}

:root {
  --lqd-container-width: 1140px;
  --lqd-row-gutter-x: 0;
  --lqd-row-gutter-y: 0;
  --lqd-color-primary: #000000;
  --lqd-body-text-color: #626974;
  --lqd-color-dark: #292929;
  --lqd-color-gray-400: #8e929b;
  --lqd-body-font-family: "Be Vietnam Pro", sans-serif;
  --lqd-body-font-size: 15px;
  --lqd-body-font-weight: 400;
  --lqd-body-line-height: 1.4em;
  --lqd-heading-font-family: "Space Grotesk", Sans-serif;
  --lqd-heading-font-weight: 700;
  --lqd-heading-line-height: 1em;
  --lqd-heading-color: var(--lqd-color-dark);
  --lqd-h1-font-size: 64px;
  --lqd-h1-letter-spacing: -4px;
  --lqd-cc-bc: var(--lqd-color-primary);
  --lqd-cc-bg: var(--lqd-color-primary);
  --lqd-cc-size-outer: 35px;
  --lqd-cc-br: calc(var(--lqd-cc-size-outer) / 2);
  --lqd-cc-active-bc: var(--lqd-color-primary);
  --lqd-cc-active-bg: var(--lqd-color-primary);
}

.titlebar-inner {
  color: #000;
  padding: 40px 10px;
  background: linear-gradient(
    to bottom left,
    #c8d4f7,
    #f7e6c8,
    white,
    white,
    white,
    white,
    white
  );
  position: relative;
}
.sol-inner {
  position: relative;
}
.sol-inner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://media.istockphoto.com/id/1221845543/vector/distressed-black-texture.jpg?s=612x612&w=0&k=20&c=LVfg5dSA5OVrqkCDkOoayTj9XVN-soNPIzeSBIqOMZc=");
  opacity: 0.1; /* Adjust the opacity to control the intensity of the grain effect */
  pointer-events: none; /* Ensures the pseudo-element doesn't interfere with mouse events */
  z-index: 1; /* Ensure the grain effect stays behind other content */
}
.titlebar-inner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://media.istockphoto.com/id/1221845543/vector/distressed-black-texture.jpg?s=612x612&w=0&k=20&c=LVfg5dSA5OVrqkCDkOoayTj9XVN-soNPIzeSBIqOMZc=");
  opacity: 0.06; /* Adjust the opacity to control the intensity of the grain effect */
  pointer-events: none; /* Ensures the pseudo-element doesn't interfere with mouse events */
  z-index: 1; /* Ensure the grain effect stays behind other content */
}

*,
:after,
:before {
  box-sizing: border-box;
}

.container {
  width: 100%;
  padding-right: calc(var(--lqd-row-gutter-x) * 0.5);
  padding-left: calc(var(--lqd-row-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: var(--lqd-container-width-xs, 540px);
  }
}

@media (min-width: 768px) {
  .container {
    max-width: var(--lqd-container-width-sm, 720px);
  }
}

@media (min-width: 992px) {
  .container {
    max-width: var(--lqd-container-width-md, 960px);
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: var(--lqd-container-width-lg, 1140px);
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: var(--lqd-container-width);
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-0.5 * var(--lqd-row-gutter-x));
  margin-left: calc(-0.5 * var(--lqd-row-gutter-x));
}

.justify-center {
  justify-content: center;
}

.col {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--lqd-row-gutter-x) * 0.5);
  padding-left: calc(var(--lqd-row-gutter-x) * 0.5);
  padding-bottom: calc(var(--lqd-row-gutter-y) * 0.5);
  padding-top: calc(var(--lqd-row-gutter-y) * 0.5);
}

.col {
  flex: 1 0 0%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

@media (min-width: 992px) {
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
}

@media (min-width: 1200px) {
  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
}

.titlebar-col {
  position: static;
}

.text-center {
  text-align: center;
}

h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h1 {
  font-family: var(--lqd-h1-font-family, var(--lqd-heading-font-family));
  font-size: var(--lqd-h1-font-size, var(--lqd-heading-font-size));
  line-height: var(--lqd-h1-line-height, var(--lqd-heading-line-height));
  font-weight: var(--lqd-h1-font-weight, var(--lqd-heading-font-weight));
  text-transform: var(
    --lqd-h1-text-transform,
    var(--lqd-heading-text-transform)
  );
  letter-spacing: var(
    --lqd-h1-letter-spacing,
    var(--lqd-heading-letter-spacing)
  );
  color: var(--lqd-h1-color, var(--lqd-heading-color));
}

.titlebar-inner h1 {
  position: relative;
  z-index: 1;
}

.titlebar-inner h1 {
  margin: 0 0 0.25em;
  font-size: 60px;
  font-weight: 600;
}

.titlebar-inner h1 {
  font-size: 72px;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.leading-20 {
  line-height: 20px;
}

.text-gray-400 {
  color: var(--lqd-color-gray-400);
}

.titlebar-inner p {
  position: relative;
  z-index: 1;
}

.titlebar-inner p {
  color: inherit;
}

.titlebar-inner p {
  font-size: 20px;
  font-weight: 500;
}

.titlebar-inner p {
  opacity: 0.6;
}

.titlebar-inner p:last-child {
  margin-bottom: 0;
}

.solutions-inner {
  height: 320px;
}

.text-24 {
  font-size: 24px;
  line-height: 32px;
}

.wave {
  position: relative;
  width: 500px;
  height: 30px;
  background: #f74900;
  margin-top: -10px;
}
.wave::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background-size: 40.05px;
  background-image: radial-gradient(
    circle at 20px -10px,
    #fcfcfc 24px,
    transparent 26px
  );
}
.wave::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background-size: 40px;
  background-image: radial-gradient(
    circle at 20px -10px,
    transparent 24px,
    #fcfcfc 26px
  );
}

.text-26 {
  font-size: 32px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.text-27 {
  font-size: 42px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.text-17 {
  font-size: 16px !important;
  font-weight: normal;
}

.text-15 {
  font-size: 14px !important;
}

.ab-con:hover {
  transform: scale(1.1);
  transition: all ease-in-out 0.3s;
}

.ab-con {
  transition: all ease-in-out 0.3s;
}

.split-inner18 {
  font-size: 14px !important;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  list-style: none;
}

.text00 {
  font-size: 12px;
  font-weight: normal;
  text-align: start;
  color: #626974;
  margin-left: -10px;
}
