body {
  text-align: center;
  font-family: var(--lqd-body-font-family);
  font-size: 100%;
  font-weight: var(--lqd-body-font-weight);
  letter-spacing: var(--lqd-body-letter-spacing);
  line-height: var(--lqd-body-line-height);
  color: var(--lqd-body-text-color);
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--lqd-body-font-family);
  font-size: var(--lqd-body-font-size);
  font-weight: var(--lqd-body-font-weight);
  letter-spacing: var(--lqd-body-letter-spacing);
  line-height: var(--lqd-body-line-height);
  color: var(--lqd-body-text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  --lqd-color-primary: #184341;
  --lqd-row-gutter-x: 30px;
  --lqd-row-gutter-y: 0;
  --lqd-body-font-family: "Rubik", sans-serif;
  --lqd-body-font-size: 18px;
  --lqd-body-line-height: 1.7;
  --lqd-body-font-weight: 400;
  --lqd-body-text-color: #626974;
  --lqd-heading-font-family: "Manrope", sans-serif;
  --lqd-heading-line-height: 1.2em;
  --lqd-heading-font-weight: 600;
  --lqd-heading-color: #181b31;
  --lqd-cc-bc: var(--lqd-color-primary);
  --lqd-cc-bg: var(--lqd-color-primary);
  --lqd-cc-size-outer: 35px;
  --lqd-cc-br: calc(var(--lqd-cc-size-outer) / 2);
  --lqd-cc-active-bc: var(--lqd-color-primary);
  --lqd-cc-active-bg: var(--lqd-color-primary);
}

:root {
  --lqd-row-gutter-x: 0;
  --lqd-row-gutter-y: 0;
  --lqd-color-primary: #000000;
  --lqd-body-text-color: #626974;
  --lqd-color-dark: #292929;
  --lqd-color-gray-100: rgba(97, 150, 157, 0.18);
  --lqd-color-slate-400: #94a3b8;
  --lqd-color-slate-600: #61969d;
  --lqd-color-yellow-50: #f9f8f5;
  --lqd-body-font-family: "Be Vietnam Pro", sans-serif;
  --lqd-body-font-size: 15px;
  --lqd-body-font-weight: 400;
  --lqd-body-line-height: 1.4em;
  --lqd-heading-font-family: "Space Grotesk", Sans-serif;
  --lqd-heading-font-weight: 700;
  --lqd-heading-line-height: 1em;
  --lqd-heading-color: var(--lqd-color-dark);
  --lqd-h2-font-size: 48px;
  --lqd-h2-letter-spacing: -1.5px;
  --lqd-cc-bc: var(--lqd-color-primary);
  --lqd-cc-bg: var(--lqd-color-primary);
  --lqd-cc-size-outer: 35px;
  --lqd-cc-br: calc(var(--lqd-cc-size-outer) / 2);
  --lqd-cc-active-bc: var(--lqd-color-primary);
  --lqd-cc-active-bg: var(--lqd-color-primary);
}

.bg-gray-100 {
  background-color: var(--lqd-color-gray-100);
}
.ld-fh-element {
  vertical-align: middle;
  transition: color 0.3s;
  display: inline-block;
}

.text-18 {
  font-size: 18px;
}

.text-slate-400 {
  color: var(--lqd-color-slate-400);
}

.lqd-imggrp-single {
  border-radius: inherit;
}

.lqd-imggrp-single {
  transition: transform 0.65s cubic-bezier(0.05, 0.7, 0.2, 1), opacity 0.3s;
}

.w-30 {
  width: 30px;
}
.text-slate-600 {
  color: var(--lqd-color-slate-600);
}

.star-rating {
  font-family: Arial, Helvetica, sans-serif;
}

.split-unit {
  text-decoration: inherit;
}

@media screen and (min-width: 480px) {
  .lqd-lines {
    white-space: nowrap;
  }
}

.ld-fh-element > :last-child {
  margin-bottom: 0;
}

.mask-text .split-unit {
  overflow: hidden;
}

.inline-flex {
  display: inline-flex;
}

.lqd-imggrp-img-container,
.lqd-imggrp-single .lqd-imggrp-img-container {
  border-radius: inherit;
}

.m-0 {
  margin: 0;
}

.text-14 {
  font-size: 14px;
}
.split-inner3 {
  text-decoration: inherit;
  display: block;
  font-size: 64px;
  line-height: 70.4px;
  letter-spacing: -2px;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
:root {
  --lqd-color-primary: #184341;
  --lqd-row-gutter-x: 30px;
  --lqd-row-gutter-y: 0;
  --lqd-body-font-family: "Rubik", sans-serif;
  --lqd-body-font-size: 18px;
  --lqd-body-line-height: 1.7;
  --lqd-body-font-weight: 400;
  --lqd-body-text-color: #626974;
  --lqd-heading-font-family: "Manrope", sans-serif;
  --lqd-heading-line-height: 1.2em;
  --lqd-heading-font-weight: 600;
  --lqd-heading-color: #181b31;
  --lqd-cc-bc: var(--lqd-color-primary);
  --lqd-cc-bg: var(--lqd-color-primary);
  --lqd-cc-size-outer: 35px;
  --lqd-cc-br: calc(var(--lqd-cc-size-outer) / 2);
  --lqd-cc-active-bc: var(--lqd-color-primary);
  --lqd-cc-active-bg: var(--lqd-color-primary);
}

:root {
  --lqd-row-gutter-x: 0;
  --lqd-row-gutter-y: 0;
  --lqd-color-primary: #000000;
  --lqd-body-text-color: #626974;
  --lqd-color-dark: #292929;
  --lqd-color-orange-100: #f0ebe7;
  --lqd-color-orange-600: #807264;
  --lqd-color-yellow-50: #f9f8f5;
  --lqd-body-font-family: "Be Vietnam Pro", sans-serif;
  --lqd-body-font-size: 15px;
  --lqd-body-font-weight: 400;
  --lqd-body-line-height: 1.4em;
  --lqd-heading-font-family: "Space Grotesk", Sans-serif;
  --lqd-heading-font-weight: 700;
  --lqd-heading-line-height: 1em;
  --lqd-heading-color: var(--lqd-color-dark);
  --lqd-h3-font-size: 40px;
  --lqd-h3-letter-spacing: -0.5px;
  --lqd-h4-font-size: 37px;
  --lqd-h4-font-weight: 600;
  --lqd-cc-bc: var(--lqd-color-primary);
  --lqd-cc-bg: var(--lqd-color-primary);
  --lqd-cc-size-outer: 35px;
  --lqd-cc-br: calc(var(--lqd-cc-size-outer) / 2);
  --lqd-cc-active-bc: var(--lqd-color-primary);
  --lqd-cc-active-bg: var(--lqd-color-primary);
}

.lqd-testi {
  color: #243858;
}

.lqd-testi-shadow-xs {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.bg-orange-100 {
  background-color: #f2ebe9;
}
.slick-dots li {
  margin: 0 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
}
.slick-dots {
  margin-left: -25px;
}

/* Styling for the active dot */
.slick-dots li.slick-active {
  background-color: #fff;
  transform: scale(2);
}

.text-orange-600 {
  color: var(--lqd-color-orange-600);
}
blockquote {
  margin: 0 0 1rem;
}

blockquote {
  display: block;
  margin-bottom: 2.5em;
  font-style: italic;
}

.lqd-testi-quote blockquote {
  margin: 0;
  line-height: 1.5em;
  font-style: normal;
}

blockquote {
  padding: 0;
  border: none;
}

.lqd-testi-quote blockquote {
  font-size: 18px;
}

.text-18 {
  font-size: 16px;
  text-align: start;
}

.lqd-testi-quote blockquote p:last-child {
  margin-bottom: 0;
}
.lqd-testi-avatar {
  width: 72px;
}

.text-16 {
  font-size: 16px;
}
.lqd-adv-txt-item {
  font-weight: bold;
  color: #000;
  font-size: 50px;
}

.w-90 {
  width: 95% !important;
}
.w-55 {
  width: 55px;
}

.text-16 {
  font-size: 16px;
}

.bg-lol {
  background-color: #eaeff4;
}
