body,
html,
:root {
  overflow-x: hidden !important;

  --lqd-heading-font-family: "Montserrat", sans-serif !important;
  --lqd-h1-font-family: "Montserrat", sans-serif !important;

  font-family: "Montserrat", sans-serif !important;
}

#root {
  position: relative;
  overflow-y: scroll !important;
  overflow-x: hidden !important;
  width: 100vw !important;
  height: 100vh !important;
}

.navbar {
  position: sticky !important;
  top: 0 !important;
  z-index: 9999 !important;
  backdrop-filter: blur(15px);
}
